In [95]:
d = {'a':1, 'b':'abc', 'c':1.5, 5:'sss'}
d

{'a': 1, 'b': 'abc', 'c': 1.5, 5: 'sss'}

In [103]:
id(d)

1796307337112

In [101]:
d['a'] = 555

In [108]:
d.values()

dict_values([555, 'abc', 1.5, 'sss'])

In [1]:
s = 'python'

In [9]:
s[:4]

'pyth'

In [11]:
'x' in s

False

In [12]:
s + 'ABC'

'pythonABC'

In [13]:
len(s)

6

In [14]:
s.upper()

'PYTHON'

In [17]:
t = '123a'

In [18]:
t.isdigit()

False

In [31]:
l1 = ['Python', 'DS', 'Facens', 2020]
l2 = ['Python', 'IA', 'Facens', 2020]
l = [l1, l2]

In [32]:
type(l)

list

In [33]:
l

[['Python', 'DS', 'Facens', 2020], ['Python', 'IA', 'Facens', 2020]]

In [37]:
l[0][1]

'DS'

In [59]:
l1.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [44]:
len(l[0])

4

In [45]:
n = [10, 20, 30 , 5, 8, 1, -20, 0]

In [60]:
n.sort()

In [61]:
n

[-20, 0, 1, 5, 8, 10, 20, 30]

In [46]:
max(n)

30

In [47]:
min(n)

-20

In [48]:
l1

['Python', 'DS', 'Facens', 2020]

In [53]:
l1.insert(4, 'Aula1')

In [54]:
l1

['Python', 'DS', 'Facens', 2020, 'Aula1', 'Aula2']

In [57]:
l1.reverse()

In [58]:
l1

['Python', 'DS', 'Facens', 2020, 'Aula1', 'Aula2']

In [72]:
t = (10, 20, 30 , 5, 8, 1, -20, 0)

In [70]:
t = (1,)

In [71]:
type(t)

tuple

In [75]:
d = {'K1':'VALUE1', 'K2':2, 'K3':3.5}

In [76]:
type(d)

dict

In [77]:
d['K3']

3.5

In [78]:
d.keys()

dict_keys(['K1', 'K2', 'K3'])

In [79]:
d.values()

dict_values(['VALUE1', 2, 3.5])

In [80]:
d.items()

dict_items([('K1', 'VALUE1'), ('K2', 2), ('K3', 3.5)])

In [81]:
d['K2'] = 'New Value'

In [82]:
d

{'K1': 'VALUE1', 'K2': 'New Value', 'K3': 3.5}

In [106]:
v = 50

In [108]:
if v == 100:
    print('OK')
    print('OK2')
elif v == 50:
    print('ELIF')
    
    print('ELIF2')
    print('ELIF3')
else:
    print('NO!!!')

IndentationError: unexpected indent (<ipython-input-108-3e7ba883c25b>, line 6)

In [92]:
a = False
b = False

In [93]:
if not a:
    print('OK')

OK

In [123]:
t

(10, 20, 30, 5, 8, 1, -20, 0)

In [129]:
for x in n:
    print(x)

-20
0
1
5
8
10
20
30

In [131]:
for anything in 'PYTHON':
    print(anything)

P
Y
T
H
O
N

In [4]:
f = ('Banana', 'Maça', 'Abacate')
for fruit in f:
    print(fruit)

Banana
Maça
Abacate

In [144]:
range(len(f))

range(0, 3)

In [146]:
len(f)

3

In [149]:
for i in range(len(f)):
    print(f[i])

Banana
Maça
Abacate

In [1]:
count = 0
while count < 10:
    print(count)
    count = count + 1

0
1
2
3
4
5
6
7
8
9

In [17]:
f

('Banana', 'Maça', 'Abacate')

In [18]:
i = 0
size = len(f)

In [19]:
i

0

In [20]:
size

3

In [21]:
while i < size:
    element = f[i]
    print('i:' + str(i) + ' element:' + element)
    i = i + 1

i:0 element:Banana
i:1 element:Maça
i:2 element:Abacate

In [23]:
f[1]

'Maça'

In [7]:
for i in f:
    print(i)

Banana
Maça
Abacate

In [30]:
if True:
    print('ok1')
    
while i < size:
    pass 

if True:
    print('ok2')

ok1
ok2

In [40]:
for i in range(10):
    if i == 5:
        continue
    print(i)
    
print('end')

0
1
2
3
4
6
7
8
9
end

In [66]:
def calculo(valor1, valor2=10, *outros):
    aliquota = valor1 + valor1 * 0.20 + valor2
    print(outros)
    return aliquota

In [68]:
x = calculo(10, 20, 30, 40 , 50)

(30, 40, 50)

In [69]:
def f():
    print('OK')

In [70]:
f()

OK

In [71]:
30 / 4

7.5

In [72]:
30 // 4

7

In [73]:
30 % 4

2

In [74]:
3**4

81

In [83]:
A = 4

In [84]:
if A != 5:
    print('ok')

ok

In [109]:
p = 'python'
x = 'python'

In [113]:
p is x

False

In [112]:
x = 'abc'

In [107]:
print(p)
print(x)

python
abc